<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodfun.common.dao.MerchantDAO">
    
    <insert id="add" parameterType="MerchantTO">
        insert into merchant(name, address, website, phone, remark)
        values
        (#{name}, #{address}, #{website}, #{phone}, #{remark})
    </insert>
    
    <update id="update" parameterType="MerchantTO">
        update merchant set 
        name=#{name}, address=#{address}, website=#{website}, phone=#{phone}, 
        status=#{status}, remark=#{remark}
        where id = #{id}
    </update>
    
    <delete id="delete" parameterType="long">
        delete from merchant where id = #{id}
    </delete>
    
    <select id="getMerchants" resultType="MerchantTO" parameterType="MerchantCriteriaTO">
        select id, name, address, website, phone, status, remark from merchant 
        where 1=1
        <if test="status != null"> and status = #{status}</if>
        order by id desc
    </select>
    
    <select id="getById" parameterType="long" resultType="MerchantTO">
        select id, name, address, website, phone, status, remark from merchant where id = #{id}
    </select>
</mapper>